<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishSim</title>

    <script src="https://kit.fontawesome.com/53b2c9873e.js" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tanks">Fish</a></li>
                <li><a href="/town">Town</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/forums">Forums</a></li>
                <% if (user) { %>
                <li><a href="/user/<%= user._id%>"><%= user.userName%></a></li>
                <li>$<%= user.money%></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            <img src="/images/seaweedandfish.png" class="logo-image" alt="">
            <span class="logo">FishSim</span>
        </nav>
    </header>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (!user){ %>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>
    <% } %>

    <h1>What is FishSim?</h1>
    <p>FishSim is an exciting aquarium simulator where you can care for and breed pet fish. Collect guppies, bettas, koi, or all three! 100% free to play, join today! </p>
    <% if (!user){ %>
    <a href="/signup">Make an account for free!</a>
    <% } %>
</body>
</html>