<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tanks">Fish</a></li>
                <li><a href="/town">Town</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <% if (user) { %>
                <li><a href="/user/<%= user._id%>"><%= user.userName%></a></li>
                <li>$<%= user.money%></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            <img src="/images/seaweedandfish.png" class="logo-image" alt="">
            <span class="logo">FishSim</span>
        </nav>
    </header>
    <main>

        <form action="/dailyturnover" method="PUT">
            <input type="submit" value="Day pass" >
        </form>

        <span>Tanks: </span>
        <div class="tank-view-container">
            <% for (let i = 0; i < tanks.length ; i++){ %>
                <div class="tank-block">
                    <a href="/tank/<%=tanks[i]._id%>"><img class="tank-image" src="/images/tank.png" alt="tank image"></a>
                    <span><%= tanks[i].name%></span>
                    <span># fish</span>
                    <span><%=tanks[i].gallons%> gallons</span>
                    <input type="checkbox" value="<%=tanks[i]._id%>">
                </div>
            <% } %>
        </div>
    </main>  
</body>
</html>