<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tanks">Fish</a></li>
                <li><a href="/town">Town</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <% if (user) { %>
                <li><a href="/user/<%= user._id%>"><%= user.userName%></a></li>
                <li>$<%= user.money%></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            <img src="/images/seaweedandfish.png" class="logo-image" alt="">
            <span class="logo">FishSim</span>
        </nav>
    </header>
    <main>

        <button id="daily-turnover-button">Day pass</button>

        <!-- give this a data- attribute for the tank id -->
        <form action="/feedfish" method="PUT">
            <input type="submit" value="Feed fish ($1)">
        </form>

        <span><%=tank.name%> </span>
        <span><%=tank.temperature%>°</span>
        <span id="up-temperature" class="temperature-control">🡅</span>
        <span id="down-temperature" class="temperature-control">🡇</span>
        <div class="fish-tank-view-container">
            <% for (let i = 0; i < fish.length ; i++){ %>
                <div class="fish-block-tank-view">
                    <a href="/fish/<%=fish[i]._id%>"><img class="fish-image-tank-view" src="/images/<%=fish[i].isMale? 'guppy-male.png':'guppy-female.png'%>" alt="fish image"></a>
                    <span><%= fish[i].name%></span>
                    <span><%=fish[i].isMale ?'Male':'Female'%></span>
                    <span><%=fish[i].age%> months old</span>
                    <input type="checkbox" value="<%=fish[i]._id%>">
                </div>
            <% } %>
        </div>
        <% if (fish.length == 0){%>
            <span>It seems this tank is empty...</span>
        <% } %>

        <% if (fish.length > 0){%>
        <form action="/massaction" method="PUT">
            <label for="mass-action">Selected fish action:</label>
            <select name="action" id="mass-action">
                <option value="sell">Sell to petshop</option>
                <option value="move">Move to other tank</option>
            </select>
            <input type="submit" value="Confirm">
        </form>
        <% } %>
    </main>  

    <script src="/js/daily-turnover-button.js"></script>
    <script src="/js/temperature-controls.js"></script>
</body>
</html>