<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishSim</title>

    <script src="https://kit.fontawesome.com/53b2c9873e.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tanks">Fish</a></li>
                <li><a href="/town">Town</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/forums">Forums</a></li>
                <% if (user) { %>
                <li><a href="/user/<%= user._id%>"><%= user.userName%></a></li>
                <li>$<%= user.money%></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            <img src="/images/seaweedandfish.png" class="logo-image" alt="">
            <span class="logo">FishSim</span>
        </nav>
    </header>

    <main>

        <h1>Fish Shop</h1>

        <img src="/images/fishshop-owner.png" alt="an old man who works at the fish shop">


        <div class="fish-tank-view-container">
            <% for (let i = 0; i < fish.length ; i++){ %>
                <div class="fish-block-tank-view" data-fishid="<%=fish[i]._id%>">
                    <canvas></canvas>
                    <span><%= fish[i].name%></span>
                    <%if(fish[i].isMale){%>
                        <i aria-label="male" class="fa-solid fa-mars sex" style="color: #1717e1;"></i>
                    <%}else{%>
                        <i aria-label="female" class="fa-solid fa-venus sex" style="color: #d52675;"></i>
                    <%}%>
                    <span><%=fish[i].age%> months old</span>
                    <span><%=fish[i].health%>/100 health</span>
                    <span><%=fish[i].hunger%>/100 hunger</span>
                    <span class="fin-description"><%=fish[i].finDescription%></span>
                    <span><%=fish[i].finGenome%></span>
                    <label for="tank-selection">Move into:</label>
                    <select name="tank" class="tank-selection">
                        <% for (let i = 0; i < tanks.length; i++){ %>
                            <option value="<%=tanks[i]._id%>"><%=tanks[i].name%></option>
                        <%}%>
                    </select>
                    <button class="buy-fish-button">Buy Fish ($<%=fish[i].salePrice%>)</button>
                </div>
            <% } %>
        </div>


    </main>

    <script src="/js/guppy-image-gen.js"></script>

    <script src="/js/buy-fish.js"></script>

</body>
</html>