<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">


    <script src="https://kit.fontawesome.com/53b2c9873e.js" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tanks">Fish</a></li>
                <li><a href="/town">Town</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/forums">Forums</a></li>
                <% if (user) { %>
                <li><a href="/user/<%= user._id%>"><%= user.userName%></a></li>
                <li>$<%= user.money%></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            <img src="/images/seaweedandfish.png" class="logo-image" alt="">
            <span class="logo">FishSim</span>
        </nav>
    </header>
    <main>
        <i class="fa-solid fa-arrow-left fa-xl clickable return-to-tank-btn"></i>

        <% for (let i = 0; i < fish.length ; i++){ %>
            <div class="fish-block-tank-view" data-fishid="<%=fish[i]._id%>" data-fishmaingenome="<%=JSON.stringify(fish[i].mainGenome)%>">
                <a href="../fish/<%=fish[i]._id%>"><canvas></canvas></a>
                <span><%= fish[i].name%></span> 
                <button>Rename</button>
                <button>Add Comment</button>
                <%if(fish[i].isMale){%>
                    <i aria-label="male" class="fa-solid fa-mars sex" style="color: #1717e1;"></i>
                <%}else{%>
                    <i aria-label="female" class="fa-solid fa-venus sex" style="color: #d52675;"></i>
                <%}%>
                <span class="age"><%=fish[i].age%> months old</span>
                <%if(fish[i].health > 90){%>
                    <span>Health: Excellent</span>
                <%}else if (fish[i].health > 70){%>
                    <span>Health: Good</span>
                <%}else if (fish[i].health > 50){%>
                    <span>Health: Okay</span>
                <%}else if (fish[i].health > 30){%>
                    <span>Health: Bad</span>
                <%}else{%>
                    <span>Health: Horrible</span>
                <%}%>
                <!-- <span><%=fish[i].health%>/100 health</span> -->

                <%if(fish[i].hunger < 100){%>
                    <span>Hungry</span>
                <%}%>
                <!-- <span><%=fish[i].hunger%>/100 hunger</span> -->
                <select name="sale-status" class="sale-status">
                    <option value="Not for Sale">Not for Sale</option>
                    <option value="For Sale">For Sale</option>
                </select>
                <label for="price">Price: $</label>
                <input id="price" type="number">
                <button class="sell-player-btn">Confirm</button>
                <button class="sell-petshop-btn">Sell to Petshop</button>

            </div>
        <% } %>
        
    </main>  

    <script src="/js/guppy-image-gen.js"></script>
    <script src="/js/sell-fish.js"></script>
    <script src="/js/fish-controls.js"></script>

</body>
</html>