<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish</title>

    
    <script src="https://kit.fontawesome.com/53b2c9873e.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Pixelify+Sans&family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tanks">Fish</a></li>
                <li><a href="/town">Town</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/forums">Forums</a></li>
                <% if (user) { %>
                <li><a href="/user/<%= user._id%>"><%= user.userName%></a></li>
                <li>$<%= user.money%></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            <img src="/images/seaweedandfish.png" class="logo-image" alt="">
            <span class="logo">FishSim</span>
        </nav>
    </header>
    <main>

        <span><%=fish.length%> Fish</span>
        <button id="daily-turnover-button">Day pass</button>

        <button id="feed-fish">Feed fish ($1)</button>

        <label for="select-all">Select all:</label>
        <input type="checkbox" id="select-all">
        

        <span><%=tank.name%> </span>
        <span><%=tank.temperature%>°</span>
        <i id="up-temperature" class="fa-solid fa-arrow-up temperature-control clickable"></i>
        <i id="down-temperature" class="fa-solid fa-arrow-down temperature-control clickable"></i>

        <!-- <span id="up-temperature" class="temperature-control clickable">🡅</span>
        <span id="down-temperature" class="temperature-control clickable">🡇</span> -->

        <div class="fish-tank-view-container">
            <% for (let i = 0; i < fish.length ; i++){ %>
                <div class="fish-block-tank-view" data-fishid="<%=fish[i]._id%>">
                    <canvas></canvas>
                    <span><%= fish[i].name%></span>
                    <%if(fish[i].isMale){%>
                        <i aria-label="male" class="fa-solid fa-mars sex" style="color: #1717e1;"></i>
                    <%}else{%>
                        <i aria-label="female" class="fa-solid fa-venus sex" style="color: #d52675;"></i>
                    <%}%>
                    <span class="age"><%=fish[i].age%> months old</span>
                    <%if(fish[i].health > 90){%>
                        <span>excellent</span>
                    <%}else if (fish[i].health > 80){%>
                        <span>great</span>
                    <%}else if (fish[i].health > 70){%>
                        <span>good</span>
                    <%}else if (fish[i].health > 60){%>
                        <span>okay</span>
                    <%}else if (fish[i].health > 40){%>
                        <span>bad</span>
                    <%}else if (fish[i].health > 30){%>
                        <span>horrible</span>
                    <%}else {%>
                        <span>dying</span>
                    <%}%>
                    <span><%=fish[i].health%>/100 health</span>
                    <span><%=fish[i].hunger%>/100 hunger</span>
                    <span class="fin-description"><%=fish[i].finDescription%></span>
                    <span><%=fish[i].finGenome%></span>
                    <input type="checkbox" class="fish-checkbox" value="<%=fish[i]._id%>">
                </div>
            <% } %>
        </div>
        <% if (fish.length == 0){%>
            <span>It seems this tank is empty...</span>
        <% } %>

        <% if (fish.length > 0){%>

        <label for="mass-action-menu">Selected fish action:</label>
        <select name="action" id="mass-action-menu">
            <option value="sell">Sell to petshop</option>
            <option value="move">Move to other tank</option>
        </select>
        <button id="mass-action-button">Confirm</button>

        <% } %>
    </main>  

    <script src="/js/guppy-image-gen.js"></script>
    <script src="/js/daily-turnover-button.js"></script>
    <script src="/js/tank-controls.js"></script>
</body>
</html>